@charset "UTF-8";
/* CSS Document */

/*
Name: Empty Boilerplate
Author: dave dechant
Description: Empty boilerplate for website
*/


/* Table of Contents */

/* 1. SASS Variables */
/*- 1a. Colors -*/
/*- 1b. Fonts -*/

/* 2. Reset/Base Styles */
/*- 2a. Reset -*/
/*- 2b. Responsive Images -*/
/*- 2c. Text -*/

/* Module/Universal Styles */

/* Website/Product Specific Styles */

/* Responsive/Media Query Styles */


/*---------------------------------------------------------------------*/


/* 1. SASS Variables */

/*- 1a. Colors -*/

$primary-color: #FFED00;
$secondary-color: #E3000B;

/* grayscale */

$grayscale-0: #FFFFFF;
$grayscale-100: #FAFAFA;
$grayscale-200: #F5F5F5;
$grayscale-300: #EEEEEE;
$grayscale-400: #E0E0E0;
$grayscale-500: #BDBDBD;
$grayscale-600: #9E9E9E;
$grayscale-700: #757575;
$grayscale-800: #616161;
$grayscale-900: #424242;
$grayscale-1000: #000000;

/*- 1b. Fonts -*/

$base-font: 'Kanit', sans-serif;

/* End SASS Variables */


/*---------------------------------------------------------------------*/


/* 2. Begin Reset/Base Styles */

/*- 2a. Reset -*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: $grayscale-1000;
	background: $grayscale-0;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

main, section, nav, article, aside, header, footer {
	display: block;
}

/*- 2b. Responsive Images -*/

img {
	max-width: 100%;
	height: auto;
}

/*- 2c. Text -*/

h1, h2, h3, h4, h5, h6 {
	font-family: $base-font;
	color: $grayscale-1000;
}

h1 {
	font-size: 3rem;
	line-height: 2.25rem;
	margin: 0 0 4rem;
	font-weight: 900;
}

h2 {
	font-size: 2.25rem;
	line-height: 2.25rem;
	font-weight: 600;
	margin: 0 0 1.5rem;
}

h3 {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 600;
	margin: 0 0 1rem;
}

h4 {
	font-size: 1.125rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.75rem;
}

p, ul, ol, blockquote, cite, small {
	margin: 0 0 1.5rem;
	font-family: $base-font;
	font-size: 1.125rem;
	line-height: 1.5rem;
	color: $grayscale-1000;
}

ul, ol {
	margin-left: 20px;
}

ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}

hr {
	border: 0;
	width: 153px;
	height: 14px;
	background-image: url(../images/horizontal-rule.svg);
	background-position: 0 0;
	background-size: 100%;
	margin: 4rem 0;
}

blockquote {
	border-top: 1px solid $grayscale-200;
	border-bottom: 1px solid $grayscale-200;
	padding: 20px 0;
	margin: 40px 0;
	font-size: 1.313rem;
}

cite {
	font-size: .688rem;
	display: block;
	margin: 10px 0 0;
	color: $grayscale-500;
}

small {
	font-size: .813rem;
}

a, a:visited {
	color: $secondary-color;
	text-decoration: underline;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover {
	color: $secondary-color;
}

/* End Reset/Base Styles */


/*---------------------------------------------------------------------*/


/* Begin Website/Product Specific Styles */

.intro {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $primary-color;
	height: 100vh;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	z-index: 3;
	animation-name: intro;
  animation-duration: 2s;
	animation-delay: 9s;
	animation-fill-mode: forwards;
}

@keyframes intro {
  from {transform: translate(0,0);}
  to {transform: translate(0,-100%);}
}

.intro-container {
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.intro-subtitle {
	display: block;
	font-family: $base-font;
	font-size: 1.5rem;
	font-weight: 700;
	font-style: italic;
	line-height: 1.5rem;
	margin-bottom: 0px;
	color: $secondary-color;
	animation-name: intro-subtitle;
  animation-duration: 1s;
}

@keyframes intro-subtitle {
  from {transform: translate(-100%,0); opacity: 0;}
  to {transform: translate(0,0); opacity: 1;}
}

.intro-title {
	font-size: 6.25rem;
	font-weight: 900;
	line-height: 6.25rem;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 2rem;
	opacity: 0;
	animation-name: intro-title;
  animation-duration: 1s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	position: relative;
}

.intro-title::before {
	content: "";
	position: absolute;
	top: -28px;
	right: 42px;
	width: 64px;
	height: 60px;
	background-image: url(../images/vector-lion.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

@keyframes intro-title {
  from {transform: translate(100%,0); opacity: 0;}
  to {transform: translate(0,0); opacity: 1;}
}

.intro-team-list {
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.intro-team-member {
	list-style-type: none;
	font-size: 1.125rem;
	font-weight: 600;
	width: 100px;
	height: 100px;
	background-color: rgba($grayscale-0,0.6);
	border-radius: 50px;
	z-index: 100;
	text-align: center;
	opacity: 0;
	animation-name: team-list;
  animation-duration: 2s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}

@keyframes team-list {
  from {opacity: 0;}
  to {opacity: 1;}
}

.intro-team-member::before {
	content: "";
	display: block;
	width: 100px;
	height: 100px;
	background-size: 75px;
	background-repeat: no-repeat;
	background-position: center center;
}

.lindsey::before, .shajuan::before, .dylon::before, .ahren::before, .jason::before, .dave::before {
	background-image: url(../images/lindsey.png);
	opacity: 0;
	animation-name: lindsey;
  animation-duration: 1s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}

.shajuan::before {
	background-image: url(../images/shajuan.png);
	animation-name: shajuan;
	animation-delay: 3.5s;
}

.dylon::before {
	background-image: url(../images/dylon.png);
	animation-name: dylon;
	animation-delay: 4s;
}

.ahren::before {
	background-image: url(../images/ahren.png);
	animation-name: ahren;
	animation-delay: 4.5s;
}

.jason::before {
	background-image: url(../images/jason.png);
	animation-name: jason;
	animation-delay: 5s;
}

.dave::before {
	background-image: url(../images/dave.png);
	animation-name: dave;
	animation-delay: 5.5s;
}

@keyframes lindsey {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes shajuan {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes dylon {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes ahren {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes jason {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes dave {
  from {opacity: 0;}
  to {opacity: 1;}
}

.main {
	display: flex;
}

.sidebar {
	background-color: $primary-color;
	flex-basis: 300px;
	height: 100vh;
	padding: 2rem;
	position: relative;
	z-index: 2;
}

.block-connectors {
	position: absolute;
	left: 100%;
	top: 0;
	width: 28px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.block-connector {
	width: 28px;
	height: 140px;
	background-color: darken($primary-color,12%);
}

.sidebar-title {
	font-size: 2.25rem;
	font-weight: 900;
	line-height: 2.25rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	position: relative;
}

.sidebar-title::before {
	content: "";
	position: absolute;
	bottom: 18px;
	right: 43px;
	width: 64px;
	height: 60px;
	background-image: url(../images/vector-lion.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	transform: rotate(13deg);
}

.sidebar-title a, .sidebar-title a:visited {
	color: $grayscale-1000;
	text-decoration: none;
}

.menu-title {
	font-size: 1.5rem;
	font-weight: 900;
	line-height: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 4rem;
}

.menu-list {
	margin: 0;
}

.menu-list-item {
	list-style-type: none;
	font-size: 1.125rem;
	font-weight: 600;
}

.menu-list-item a, .menu-list-item a:visited {
	text-decoration: none;
	line-height: 3.5rem;
	display: block;
	background-position: center right;
	background-size: 32px;
	background-repeat: no-repeat;
	border-bottom: 2px solid darken($primary-color,5%);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.menu-list-item a:hover {
	border-bottom: 2px solid $grayscale-1000;
}

.menu-list-item.active a {
	border-bottom: 2px solid $secondary-color;
	position: relative;
}

.menu-list-item.active a::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -12px;
	transform: translate(0,-50%);
	width: 5px;
	height: 5px;
	background-color: $secondary-color;
	border-radius: 50px;
}

.menu-list-item.lindsey a {
	background-image: url(../images/lindsey.png);
}

.menu-list-item.shajuan a {
	background-image: url(../images/shajuan.png);
}

.menu-list-item.dylon a {
	background-image: url(../images/dylon.png);
}

.menu-list-item.ahren a {
	background-image: url(../images/ahren.png);
}

.menu-list-item.jason a {
	background-image: url(../images/jason.png);
}

.menu-list-item.dave a {
	background-image: url(../images/dave.png);
}

.team-statement {
	flex-basis: calc(100% - 300px);
	background-color: $grayscale-1000;
	display: flex;
	align-items: center;
}

.team-statement-text {
	color: $grayscale-0;
	width: 800px;
	margin-left: 8rem;
	font-size: 2.125rem;
	font-weight: 700;
	line-height: 3.75rem;
}

.kudos, .bio {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - 300px);
	height: 100%;
	background-color: $secondary-color;
	z-index: 1;
	visibility: hidden;
	transform: translate(100%,0);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.kudos {
	padding: 6rem 8rem;
	background-color: $grayscale-0;
	transform: translate(0,100%);
	overflow-y: scroll;
}

.kudos-container {
	width: 800px;
}

.kudos-img-tilt-left, .kudos-img-tilt-right {
	border: 10px solid $grayscale-0;
	-webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
	-moz-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	transform: rotate(-1deg);
}

.kudos-img-tilt-right {
	-moz-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	transform: rotate(1deg);
}

.bio:target, .kudos:target {
	visibility: visible;
	transform: translate(0,0);
}

.bio::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/bio-background.png);
}

.bio-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 800px;
	padding: 2rem;
	background-color: $grayscale-0;
	-webkit-border-radius: 0 0 0 4px;
	border-radius: 0 0 0 4px;
}

.bio-container::before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 0;
	background-image: url(../images/square-block-black.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 27px;
}

.bio-container::after {
	content: "";
	position: absolute;
	top: 100%;
	right: 0;
	background-image: url(../images/square-block-yellow.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 59px;
	height: 47px;
}

.close-button {
	position: absolute;
	top: -24px;
	right: -24px;
	width: 48px;
	height: 48px;
	background-image: url(../images/close-icon.svg);
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.bio-lindsey-head, .bio-shajuan-head, .bio-dylon-head, .bio-ahren-head, .bio-jason-head, .bio-dave-head {
	position: absolute;
	top: -83px;
	left: 50%;
	transform: translate(-50%,0);
	width: 100px;
}

.bio-dylon-head {
	top: -110px;;
}

.bio-ahren-head {
	top: -95px;;
}

.bio-jason-head {
	top: -86px;;
}

.bio-dave-head {
	top: -92px;;
}

/* End Website/Product Specific Styles */


/*---------------------------------------------------------------------*/


/* 7. Begin Responsive/Media Queries */

/* sm */
@media (min-width: 576px) {



}

/* md */
@media (min-width: 768px) {



}

/* lg */
@media (min-width: 992px) {



}

/* xl */
@media (min-width: 1200px) {



}

/* End Responsive/Media Queries */
