/* CSS Document */
/*
Name: Empty Boilerplate
Author: dave dechant
Description: Empty boilerplate for website
*/
/* Table of Contents */
/* 1. SASS Variables */
/*- 1a. Colors -*/
/*- 1b. Fonts -*/
/* 2. Reset/Base Styles */
/*- 2a. Reset -*/
/*- 2b. Responsive Images -*/
/*- 2c. Text -*/
/* Module/Universal Styles */
/* Website/Product Specific Styles */
/* Responsive/Media Query Styles */
/*---------------------------------------------------------------------*/
/* 1. SASS Variables */
/*- 1a. Colors -*/
/* brand highlight */
/* grayscale */
/*- 1b. Fonts -*/
/* End SASS Variables */
/*---------------------------------------------------------------------*/
/* 2. Begin Reset/Base Styles */
/*- 2a. Reset -*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: #000000;
  background: #003A69;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

main, section, nav, article, aside, header, footer {
  display: block; }

/*- 2b. Responsive Images -*/
img {
  max-width: 100%;
  height: auto; }

/*- 2c. Text -*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
  font-family: "Spartan", sans-serif;
  font-weight: 900;
  color: #000000; }

h1 {
  font-size: 2.688rem; }

h2 {
  font-size: 2.375rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.75rem; }

p, ul, ol, blockquote, cite, small {
  margin: 0 0 1.5rem;
  font-family: "Spartan", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  color: #000000; }

ul, ol {
  margin-left: 20px; }

ul li {
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

hr {
  border: 0;
  border-bottom: 5px solid #9E9E9E;
  background: none; }

blockquote {
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  padding: 20px 0;
  margin: 40px 0;
  font-size: 1.313rem; }

cite {
  font-size: .688rem;
  display: block;
  margin: 10px 0 0;
  color: #BDBDBD; }

small {
  font-size: .813rem; }

a, a:visited {
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  color: #49AEFF;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

a:hover {
  color: #49AEFF; }

a .fas, a .fas:visited {
  font-size: 1.25rem;
  margin-left: .5rem;
  vertical-align: -2px; }

/* End Reset/Base Styles */
/*---------------------------------------------------------------------*/
/* Begin Module/Universal Styles */
/* End Module/Universal Styles */
/*---------------------------------------------------------------------*/
/* Begin Website/Product Specific Styles */
.wrapper {
  background: #003a69;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #003a69 0%, #000000 99%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #003a69 0%, #000000 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #003a69 0%, #000000 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a69', endColorstr='#000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  height: 100vh; }

.controller-icons {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  border: 1px solid red;
  z-index: 0;
  background-image: url(../images/controller-icons.png);
  background-size: 135px;
  opacity: 0.03;
  animation-name: controller-icons;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translate(0, 0); }

@keyframes controller-icons {
  0% {
    transform: translate(0, -500px); }
  100% {
    transform: translate(0, 0); } }

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  z-index: 9990; }

.dave-face {
  width: 82px;
  margin-right: 10px;
  animation-name: dave-face;
  animation-duration: 4s; }

@keyframes dave-face {
  0% {
    width: 128px;
    transform: translate(-300px, 0);
    opacity: 0; }
  25% {
    width: 128px;
    transform: translate(0, 0);
    opacity: 1; }
  50% {
    width: 128px;
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    width: 82px;
    transform: translate(0, 0);
    opacity: 1; } }

.header-name {
  font-size: 2.375rem;
  line-height: 2.375rem;
  font-family: "Big Shoulders Inline Display", cursive;
  font-weight: 900;
  color: #FFFFFF;
  margin-bottom: 4px;
  animation-name: header-name;
  animation-duration: 4s; }

@keyframes header-name {
  0% {
    font-size: 3.75rem;
    line-height: 3.75rem;
    transform: translate(0, -300px);
    opacity: 0; }
  25% {
    font-size: 3.75rem;
    line-height: 3.75rem;
    transform: translate(0, 0);
    opacity: 1; }
  50% {
    font-size: 3.75rem;
    line-height: 3.75rem;
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    font-size: 2.375rem;
    line-height: 2.375rem;
    transform: translate(0, 0);
    opacity: 1; } }

.header-title {
  font-size: 0.938rem;
  line-height: 0.938rem;
  font-family: "Big Shoulders Inline Display", cursive;
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 5.8px;
  animation-name: header-title;
  animation-duration: 4s;
  margin: 0; }

@keyframes header-title {
  0% {
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 9px;
    transform: translate(0, 300px);
    opacity: 0; }
  25% {
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 9px;
    transform: translate(0, 0);
    opacity: 1; }
  50% {
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 9px;
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    font-size: 0.938rem;
    line-height: 0.938;
    letter-spacing: 5.8px;
    transform: translate(0, 0);
    opacity: 1; } }

.header-nav {
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
  animation-name: header-nav;
  animation-duration: 6s; }

@keyframes header-nav {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.header-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 2px;
  height: 20px;
  background-color: #FFFFFF; }

.header-nav a, .header-nav a:visited {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: lowercase;
  line-height: 1.75rem;
  font-size: 1rem; }

.header-nav a:hover {
  color: white; }

.projects {
  display: flex;
  height: 50vh; }

.project-preview {
  flex-grow: 1;
  position: relative; }

.laptop .gif {
  width: 270px;
  position: absolute;
  top: 49.4%;
  left: 50%;
  transform: translate(-50%, -50%); }

.phone .gif {
  width: 104px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.frame {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.phone .frame {
  width: 120px; }

.project-preview.one {
  animation-name: gif-one;
  animation-duration: 6s; }

@keyframes gif-one {
  0% {
    opacity: 0; }
  65% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.project-preview.two {
  animation-name: gif-two;
  animation-duration: 6s; }

@keyframes gif-two {
  0% {
    opacity: 0; }
  70% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.project-preview.three {
  animation-name: gif-three;
  animation-duration: 6s; }

@keyframes gif-three {
  0% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.project-preview.four {
  animation-name: gif-four;
  animation-duration: 6s; }

@keyframes gif-four {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.project-preview.five {
  animation-name: gif-five;
  animation-duration: 6s; }

@keyframes gif-five {
  0% {
    opacity: 0; }
  85% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.project-preview.six {
  animation-name: gif-six;
  animation-duration: 6s; }

@keyframes gif-six {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.project-summary {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 2.5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px; }

.project-preview:hover .project-summary {
  opacity: 1;
  visibility: visible;
  top: 50%; }

.project-summary-title {
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 900; }

.project-summary-subtitle {
  color: #9E9E9E;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase; }

.project-summary-copy {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem; }

.project-overview {
  position: absolute;
  top: 4rem;
  left: 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 6rem);
  background-color: #FFFFFF;
  z-index: 9999;
  overflow-y: scroll;
  padding: 4rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 4px; }

.project-overview:target {
  opacity: 1;
  visibility: visible; }

.project-overview-close, .project-overview-close:visited, .project-overview-close:hover {
  position: fixed;
  top: 1rem;
  right: 3rem;
  color: #FFFFFF;
  font-size: 0.938rem; }

.project-overview-close .fas {
  color: #FFFFFF;
  font-size: 2rem;
  vertical-align: -6px; }

.project-overview-content {
  max-width: 600px;
  margin: 0 auto; }

.project-overview-title {
  margin-bottom: 1.25rem; }

.project-overview-subtitle {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #BDBDBD;
  letter-spacing: 2px; }

.project-overview-intro::after, .project-overview-intro::before {
  display: block;
  content: "";
  width: 50px;
  height: 4px;
  background-color: #000000;
  margin: 2.5rem 0;
  border-radius: 5px; }

.project-overview-intro {
  font-size: 1.125rem;
  font-weight: 600; }

.project-overview-tools {
  font-size: 0.875rem;
  line-height: 1.375rem; }

.project-overview-image {
  margin: 3rem auto;
  max-width: 1237px; }

.about-photo {
  width: 250px;
  border-radius: 50%;
  margin-bottom: 2rem; }

.project-video {
  background-color: #000000;
  padding: 2rem;
  border-radius: 10px;
  margin: 3rem 0;
  max-width: 375px; }

.project-video.ninty {
  background-color: #68BCF5; }

/* End Website/Product Specific Styles */
/*---------------------------------------------------------------------*/
/* 7. Begin Responsive/Media Queries */
/* lg */
@media screen and (max-width: 1280px) {
  .laptop .gif {
    width: 232px; }
  .frame {
    width: 300px; }
  .project-summary {
    padding: 1.5rem; } }

/* md */
@media (max-width: 980px) {
  .wrapper {
    height: auto; }
  .header {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    justify-content: center;
    padding: 2rem 0; }
  @keyframes dave-face {
    0% {
      width: 82px;
      transform: translate(0, 0);
      opacity: 1; }
    25% {
      width: 82px;
      transform: translate(0, 0);
      opacity: 1; }
    50% {
      width: 82px;
      transform: translate(0, 0);
      opacity: 1; }
    100% {
      width: 82px;
      transform: translate(0, 0);
      opacity: 1; } }
  @keyframes header-name {
    0% {
      font-size: 2.375rem;
      line-height: 2.375rem;
      transform: translate(0, 0);
      opacity: 1; }
    25% {
      font-size: 2.375rem;
      line-height: 2.375rem;
      transform: translate(0, 0);
      opacity: 1; }
    50% {
      font-size: 2.375rem;
      line-height: 2.375rem;
      transform: translate(0, 0);
      opacity: 1; }
    100% {
      font-size: 2.375rem;
      line-height: 2.375rem;
      transform: translate(0, 0);
      opacity: 1; } }
  @keyframes header-title {
    0% {
      font-size: 0.938rem;
      line-height: 0.938;
      letter-spacing: 5.8px;
      transform: translate(0, 0);
      opacity: 1; }
    25% {
      font-size: 0.938rem;
      line-height: 0.938;
      letter-spacing: 5.8px;
      transform: translate(0, 0);
      opacity: 1; }
    50% {
      font-size: 0.938rem;
      line-height: 0.938;
      letter-spacing: 5.8px;
      transform: translate(0, 0);
      opacity: 1; }
    100% {
      font-size: 0.938rem;
      line-height: 0.938;
      letter-spacing: 5.8px;
      transform: translate(0, 0);
      opacity: 1; } }
  @keyframes header-nav {
    0% {
      opacity: 1; }
    50% {
      opacity: 1; }
    100% {
      opacity: 1; } }
  .projects {
    flex-direction: column;
    height: auto; }
  .project-preview {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    padding: 3rem 2rem; }
  .laptop .gif {
    position: absolute;
    top: 58px;
    left: 67px;
    transform: translate(0, 0); }
  .phone .gif {
    position: absolute;
    top: 53px;
    left: 40px;
    transform: translate(0, 0); }
  .frame {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0); }
  @keyframes gif-one {
    0% {
      opacity: 1; }
    65% {
      opacity: 1; }
    100% {
      opacity: 1; } }
  @keyframes gif-two {
    0% {
      opacity: 1; }
    65% {
      opacity: 1; }
    100% {
      opacity: 1; } }
  @keyframes gif-three {
    0% {
      opacity: 1; }
    65% {
      opacity: 1; }
    100% {
      opacity: 1; } }
  @keyframes gif-four {
    0% {
      opacity: 1; }
    65% {
      opacity: 1; }
    100% {
      opacity: 1; } }
  @keyframes gif-five {
    0% {
      opacity: 1; }
    65% {
      opacity: 1; }
    100% {
      opacity: 1; } }
  @keyframes gif-six {
    0% {
      opacity: 1; }
    65% {
      opacity: 1; }
    100% {
      opacity: 1; } }
  .project-summary {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    transform: translate(0, 0);
    background: none;
    border: 0;
    padding: 0;
    opacity: 1;
    visibility: visible;
    margin-top: 1.5rem; }
  .project-preview:hover .project-summary {
    top: 0; }
  .project-overview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4rem;
    border-radius: 0; }
  .project-overview-close, .project-overview-close:visited, .project-overview-close:hover {
    color: #000000;
    background-color: #FFFFFF;
    padding: 0.25rem 0.5rem;
    border-radius: 4px; }
  .project-overview-close .fas {
    color: #000000; } }

/* sm */
@media (max-width: 740px) {
  .project-overview {
    padding: 6rem 1rem 1rem; }
  .project-overview-close, .project-overview-close:visited, .project-overview-close:hover {
    right: 2rem; } }

/* xs */
@media (max-width: 540px) {
  .project-overview-title {
    font-size: 2rem; }
  .dave-face {
    width: 60px;
    margin-right: 8px; }
  @keyframes dave-face {
    0% {
      width: 60px;
      transform: translate(0, 0);
      opacity: 1; }
    25% {
      width: 60px;
      transform: translate(0, 0);
      opacity: 1; }
    50% {
      width: 60px;
      transform: translate(0, 0);
      opacity: 1; }
    100% {
      width: 60px;
      transform: translate(0, 0);
      opacity: 1; } }
  .header-name {
    font-size: 1.813rem;
    line-height: 1.813rem; }
  @keyframes header-name {
    0% {
      font-size: 2rem;
      line-height: 2rem;
      transform: translate(0, 0);
      opacity: 1; }
    25% {
      font-size: 2rem;
      line-height: 2rem;
      transform: translate(0, 0);
      opacity: 1; }
    50% {
      font-size: 2rem;
      line-height: 2rem;
      transform: translate(0, 0);
      opacity: 1; }
    100% {
      font-size: 2rem;
      line-height: 2rem;
      transform: translate(0, 0);
      opacity: 1; } }
  .header-title {
    letter-spacing: 3px; }
  @keyframes header-title {
    0% {
      font-size: 0.938rem;
      line-height: 0.938;
      letter-spacing: 3px;
      transform: translate(0, 0);
      opacity: 1; }
    25% {
      font-size: 0.938rem;
      line-height: 0.938;
      letter-spacing: 3px;
      transform: translate(0, 0);
      opacity: 1; }
    50% {
      font-size: 0.938rem;
      line-height: 0.938;
      letter-spacing: 3px;
      transform: translate(0, 0);
      opacity: 1; }
    100% {
      font-size: 0.938rem;
      line-height: 0.938;
      letter-spacing: 3px;
      transform: translate(0, 0);
      opacity: 1; } }
  .header-nav {
    margin-left: 15px;
    padding-left: 15px; }
  .header-nav a, .header-nav a:visited {
    letter-spacing: 0;
    line-height: 1.5rem;
    font-size: 0.813rem;
    color: #FFFFFF; } }

/* End Responsive/Media Queries */
