@charset "UTF-8";
/* CSS Document */

/*
Name: Empty Boilerplate
Author: dave dechant
Description: Empty boilerplate for website
*/


/* Table of Contents */

/* 1. SASS Variables */
/*- 1a. Colors -*/
/*- 1b. Fonts -*/

/* 2. Reset/Base Styles */
/*- 2a. Reset -*/
/*- 2b. Responsive Images -*/
/*- 2c. Text -*/

/* Module/Universal Styles */

/* Website/Product Specific Styles */

/* Responsive/Media Query Styles */


/*---------------------------------------------------------------------*/


/* 1. SASS Variables */

/*- 1a. Colors -*/

/* base color */

$base-color: #00DEEE;
$base-color-dark: #02A6FE;

/* grayscale */

$grayscale-0: #FFFFFF;
$grayscale-100: #FAFAFA;
$grayscale-200: #F5F5F5;
$grayscale-300: #EEEEEE;
$grayscale-400: #E0E0E0;
$grayscale-500: #BDBDBD;
$grayscale-600: #9E9E9E;
$grayscale-700: #757575;
$grayscale-800: #616161;
$grayscale-900: #424242;
$grayscale-1000: #000000;

/*- 1b. Fonts -*/

$header-font: 'Shrikhand', serif;
$copy-font: 'Spartan', sans-serif;

/* End SASS Variables */


/*---------------------------------------------------------------------*/


/* 2. Begin Reset/Base Styles */

/*- 2a. Reset -*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: $grayscale-1000;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2ecc71+0,3498db+20,9b59b6+40,f1c40f+58,e74c3c+77,34495e+98 */
	background: #2ecc71; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #2ecc71 0%, #3498db 20%, #9b59b6 40%, #f1c40f 58%, #e74c3c 77%, #34495e 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #2ecc71 0%,#3498db 20%,#9b59b6 40%,#f1c40f 58%,#e74c3c 77%,#34495e 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #2ecc71 0%,#3498db 20%,#9b59b6 40%,#f1c40f 58%,#e74c3c 77%,#34495e 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ecc71', endColorstr='#34495e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

main, section, nav, article, aside, header, footer {
	display: block;	
}

/*- 2b. Responsive Images -*/

img {
	max-width: 100%;
	height: auto;
}

/*- 2c. Text -*/

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1rem;
	font-family: $header-font;
	color: $grayscale-800;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.375rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.125rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.75rem;
}

p, ul, ol, blockquote, cite, small {
	margin: 0 0 25px;
	font-family: $copy-font;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
	color: $grayscale-900;
}

ul, ol {
	margin-left: 20px;
}

ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}

hr {
	border: 0;
    border-bottom: 4px solid $grayscale-300;
    background: none;
    width: 50px;
    text-align: left;
    margin: 2rem 0;
}

blockquote {
	border-top: 1px solid $grayscale-1000;
	border-bottom: 1px solid $grayscale-1000;
	padding: 20px 0;
	margin: 40px 0;
	font-size: 1.313rem;
}

cite {
	font-size: .688rem;
	display: block;
	margin: 1rem 0 0;
	color: $grayscale-1000;
}

small {
	font-size: .813rem;
}

a, a:visited {
	color: $base-color;
	text-decoration: underline;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover {
	color: $base-color-dark;
}

/* End Reset/Base Styles */


/*---------------------------------------------------------------------*/


/* Begin Module/Universal Styles */

/* End Module/Universal Styles */


/*---------------------------------------------------------------------*/


/* Begin Website/Product Specific Styles */

.container {
	display: flex;
	height: calc(100vh - 4rem);
	margin: 2rem;
	border-radius: 1rem 0.313rem 1rem 0.313rem;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 6px 16px 0 rgba(0,0,0,0.4);
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 6px 16px 0 rgba(0,0,0,0.4);
	border: 3px solid rgba($grayscale-0,0.3);
	overflow: hidden;
}

.mobile-header, .mobile-menu-close {
	display: none;
}

.sidebar {
	display: flex;
	flex-direction: column;
	flex-basis: 350px;
	background-color: rgba($grayscale-1000, 0.6);
	padding: 2rem;
	border-radius: 1rem 0 0 0.313rem;
	border-right: 1px solid rgba($grayscale-0,0.1);
	backdrop-filter: blur(6px);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.logo {
	background-image: url(../images/dave-face.svg);
	background-repeat: no-repeat;
	padding-left: 50px;
	height: 50px;
}

.logo-name, .logo-title {
	font-size: 1.875rem;
	color: $grayscale-0;
	margin: 0.25rem 0 0.125rem;
}

.logo-title {
	font-size: 0.813rem;
	font-family: $copy-font;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0;
}

.sidebar-summary {
	color: $grayscale-0;
	font-size: 1.375rem;
	line-height: 2.5rem;
	font-weight: 500;
	margin: 100px 0;
}

.sidebar-summary::before, .sidebar-summary::after {
	content: "";
	display: block;
	width: 50px;
	height: 4px;
	background-color: rgba($grayscale-0,0.25);
	margin: 0 0 1rem;
	border-radius: 10px;
}

.sidebar-summary::after {
	margin: 1rem 0 0;
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
}

.sidebar-nav_item, .sidebar-nav_item:visited {
	font-family: $header-font;
	font-size: 1.5rem;
	padding: 0.688rem 1.25rem;
	margin: 0 0 0.875rem;
	text-decoration: none;
	color: rgba($grayscale-0,0.6);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 30px;
}

.sidebar-nav_item:hover {
	color: rgba($grayscale-0,1.0);
}

.sidebar-nav_item.active {
	background-color: $grayscale-0;
	color: $base-color-dark;
	-webkit-box-shadow: 0 2px 4px 0 rgba($grayscale-1000,0.1);
	box-shadow: 0 2px 4px 0 rgba($grayscale-1000,0.2);
	animation-name: nav-active;
	animation-duration: 0.5s;
}

@keyframes nav-active {
	from {transform: translate(-300px,0); opacity: 0;}
	to {transform: translate(0,0); opacity: 1;}
}

.sidebar-nav_item__icon {
	font-size: 1.25rem;
}

.footer {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.footer-copyright {
	margin: 0;
	color: $grayscale-0;
	font-weight: 900;
}

.projects {
	background-color: rgba($grayscale-1000,0.9);
	flex-basis: calc(100% - 350px);
	border-radius: 0 0.313rem 1rem 0;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 2rem 1rem 1rem 2rem;
	position: relative;
	animation-name: main;
	animation-duration: 3s;
}

@keyframes main {
	from {opacity: 0;}
	to {opacity: 1;}
}

.project-summary {
	padding: 2rem;
	border-radius: 2px;
	width: calc(33% - 1rem);
	margin: 0 1rem 1rem 0;
	background-color: lighten($grayscale-1000, 10%);
	position: relative;
	border: 1px solid rgba($grayscale-0,0.05);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.project-summary:hover {
	border: 1px solid rgba($grayscale-0,0.2);
	background-color: lighten($grayscale-1000, 5%);
}

.project-summary-tag {
	color: $grayscale-700;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 0.688rem;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.project-summary:hover .project-summary-tag {
	color: $base-color;
}

.project-summary-title {
	color: $grayscale-700;
	margin: 1rem 0;
	font-size: 2.25rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.project-summary:hover .project-summary-title {
	color: $grayscale-0;
}

.project-summary-copy {
	color: $grayscale-700;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin: 0 0 2rem;
}

.project-summary:hover .project-summary-copy {
	color: $grayscale-0;
}

.project-summary-link, .project-summary-link:visited {
	font-family: $copy-font;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.688rem;
	font-weight: 900;
	letter-spacing: 1.5px;
	padding: 1rem 1rem 0.75rem;
	background-color: rgba($grayscale-0, 0.1);
	border-radius: 30px;
	color: $grayscale-0;
}

.project-summary-link:hover {
	background-color: $base-color-dark;
	color: $grayscale-0;
}

.project-summary-img {
	margin-bottom: 1rem;
	filter: grayscale(1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.project-summary:hover .project-summary-img {
	filter: grayscale(0);
}

.project-details {
	position: fixed;
	top: calc(2rem + 4px);
	right: calc(2rem + 4px);
	width: calc(100% - 350px - 4rem - 8px);;
	height: calc(100% - 4rem - 8px);
	border-radius: 0 0.25rem 0.875rem 0;
	background-color: $grayscale-0;
	z-index: 9993;
	transform: translate(0,100%);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	padding: 3rem;
}

.project-details:target {
	transform: translate(0,0);
	visibility: visible;
	opacity: 1;
}

.project-details-menu {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
	border-bottom: 1px solid $grayscale-300;
}

.project-details-menu a, .project-details-menu a:visited {
	font-family: $copy-font;
	text-transform: lowercase;
	font-size: 1rem;
	text-decoration: none;
}

.project-details-container {
	height: 99%;
	overflow-y: scroll;
	padding-top: 2rem;
}

.project-details-content {
	width: 600px;
	margin: auto;
	position: relative;
}

.project-details-image, .project-details-video {
	margin: 3rem auto;
	max-width: 1240px;
}

.project-details-caption {
	font-size: 0.75rem;
	line-height: 1.125rem;
	font-family: $copy-font;
	text-align: center;
	color: $grayscale-800;
	font-weight: 900;
	border-bottom: 1px solid $grayscale-400;
	padding: 0.5rem 0;
}

.project-details-video .desktop, .project-details-video .mobile {
	width: 100%;
	height: auto;
	padding: 0.5rem;
	background-color: $grayscale-1000;
	border-radius: 4px;
}

.project-details-video .mobile {
	max-width: 400px;
	margin-left: 50%;
	transform: translate(-50%,0);
	padding: 2rem;
	border-radius: 30px;
}

.project-details-video .mobile.ninty {
	background-color: #68BCF5;
}

.about, .resume {
	max-width: 600px;
	margin: 0 auto;
}

.about-photo {
	border-radius: 50%;
	margin-bottom: 2rem;
}

.about p, .resume h2, .resume small, .resume ul li {
	color: $grayscale-0;
}

.resume small {
	font-size: 1rem;
	display: block;
	margin: 0 0 0.5rem;
}

.resume small span {
	font-size: 0.75rem;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
	display: inline-block;
	margin: 0.5rem 0 0;
}

.resume ul::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: $grayscale-900;
	margin: 1.5rem 0;
	margin-left: -20px;
}

.resume ul.last::after {
	display: none;
}

.resume ul li {
	font-size: 0.875rem;
}

/* End Website/Product Specific Styles */


/*---------------------------------------------------------------------*/

/* 7. Begin Responsive/Media Queries */

/* xl */
@media screen and (max-width: 1800px) {

	.project-summary {
		width: calc(50% - 1rem);
	}

}

/* lg */
@media screen and (max-width: 1280px) {

	.project-summary {
		width: calc(100% - 1rem);
	}

	.project-details-content {
		width: 100%;
	}

	.sidebar-summary {
		margin: 80px 0;
	}

}

/* md */
@media (max-width: 980px) {

	.container {
		position: relative;
		height: calc(100vh - 2rem);
		margin: 1rem;
	}

	.mobile-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: calc(100% - 1rem);
		border-radius: 4px;
		border: 1px solid lighten($grayscale-1000, 15%);;
		margin-bottom: 2rem;
		padding: 1rem;
		position: sticky;
		top: 0;
		left: 0;
		z-index: 9991;
		background-color: lighten($grayscale-1000, 10%);
	}

	.mobile-header-menu {
		font-size: 2rem;
	}

	.sidebar {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 9992;
		transform: translate(-100%,0);
	}

	.sidebar:target {
		transform: translate(0,0);
	}

	.sidebar .logo, .sidebar .sidebar-summary, .sidebar .footer {
		display: none;
	}

	.mobile-menu-close, .mobile-menu-close:visited {
		display: inline;
		background-color: $base-color;
		color: $grayscale-0;
		font-family: $copy-font;
		padding: 1rem;
		font-weight: 900;
		text-decoration: none;
		position: absolute;
		bottom: 2rem;
		right: 2rem;
		border-radius: 30px;
	}

	.mobile-menu-close:hover {
		background-color: $base-color-dark;
		color: $grayscale-0;
	}

	.projects {
		flex-basis: 100%;
		border-radius: 1rem 0.313rem 1rem 0;
	}

	.project-details {
		top: calc(1rem + 4px);
		right: calc(1rem + 4px);
		width: calc(100% - 2rem - 8px);
		height: calc(100% - 2rem - 8px);
		border-radius: 0.875rem 0.125rem 0.875rem 0.125rem;
		padding: 1.5rem;
	}

	.project-summary-tag {
		color: $grayscale-0;
	}

	.project-summary-title {
		color: $grayscale-0;
	}

	.project-summary-copy {
		color: $grayscale-0;
	}

	.project-summary-img {
		filter: grayscale(0);
	}

	.resume h2 {
		font-size: 1.375rem;
	}

}

/* sm */
@media (max-width: 740px) {

	
	
}

/* xs */
@media (max-width: 540px) {

	

}

/* End Responsive/Media Queries */